/*TODO: Add background video of the trailer in the welcome part of the page;*/
/*TODO II: Maybe also add some hyperspace effect to the image of the 15th Doctor? */

html {
    height: 100%;
  }
  
body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
  
    min-height: 100%;
  
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background: #014f94;
    justify-content: space-between;
    padding: 33px;
    height: auto;
}

.logo {
    box-sizing: border-box;
    width: 155px;
    filter: invert();
    height: 150px;
}



.links {
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0;

}

.welcome {
    display: flex;
    gap: 130px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    min-height: 100vh;
    min-width: 100vh;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
    
 



.welcome > .main {
    box-sizing: border-box;
    width: 520px;
    height: 400px;
}

    .welcome > .sneakpeek {
        box-sizing: border-box;
        width: 600px;
        height: 800px;
    }

    .main > h1 {
        font-size: 48px;
        color: #F9FAF8;
    }

    .main > p {
        font-size: 18px;
        color: #E5E7EB;
    }

    button.newsletter.up {
        background:#014f94;
        border: 1px solid #3882F6;
        border-radius: 8px;
        padding: 8px 16px;
        color: white;
        font-size: 18px;
        font-weight: 800;
    }

.info {
    background-image: url(./images/tardis.png);
    background-position-x: 100px;
    background-attachment: fixed;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .info h1 {
        font-size: 36px;
        font-weight: 800;
    }

.doc {
    width: 167px;
    height: 245px;
    border-radius: 30px;
    box-shadow:
            0 0 10px #014f94,
            0 0 4px #0054a2,
            0 0 10px #00518f,
            0 0 42px #ffffff,
            0 0 42px #ffffff,
            0 0 42px #ffffff
    
}
.timeline {
    display: flex;
    flex-wrap: wrap;
    gap: 39px;
    max-width: 1200px;
    flex: 1;
}

    .doctor > p {
        text-align: center;
        margin-top: 5px;
        width: 165px;
        font-size: 18px;
        color: #000000;
    } 

    .fifteen.doctor {
        margin: 0 auto;
    }

        .fifteen.doctor > .doc {
            border-top: 3px double #ffffff;
            border-bottom: 3px double #ffffff;
            box-shadow:
            0 0 10px #014f94,
            0 0 4px #0054a2,
            0 0 21px #00518f,
            0 0 42px #ffffff,
            0 0 82px #ffffff,
            0 0 32px #ffffff
        }

        .fifteen.doctor > p {
            color: black;
        }


a {
    text-decoration: none;
    color: #E5E7EB;
    font-weight: 900;
}

ul {
    list-style-type: none;
}