/*TODO: Add background video of the trailer in the welcome part of the page;*/
/*TODO II: Maybe also add some hyperspace effect to the image of the 15th Doctor? */

html {
    height: 100%;
  }
  
body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
  
    min-height: 100%;
  
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background: #1F2937;
    justify-content: space-around;
    padding: 33px;
    height: 150px;
}

.logo {
    box-sizing: border-box;
    width: 155px;
    filter: invert();
    height: 150px;
}



.links {
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0;

}

.welcome {
    display: flex;
    gap: 130px;
    justify-content: center;
    align-items: center;
    background: #324a6d;
}

.welcome > .main {
    box-sizing: border-box;
    width: 520px;
    height: 400px;
}

    .welcome > .sneakpeek {
        box-sizing: border-box;
        width: 600px;
        height: 800px;
        margin-right: 100px;
    }

    .main > h1 {
        font-size: 48px;
        color: #F9FAF8;
    }

    .main > p {
        font-size: 18px;
        color: #E5E7EB;
    }

    button.newsletter {
        background:#3882F6;
        border: 1px solid #3882F6;
        border-radius: 8px;
        padding: 8px 16px;
        color: white;
        font-size: 18px;
        font-weight: 800;
    }

a {
    text-decoration: none;
    color: #E5E7EB;
    font-weight: 900;
}

ul {
    list-style-type: none;
}