/*TODO: Compare the flex-modal exercise to the newsletter button below. Maybe there's an easier way to come around that?*/


html {
    height: 100%;
  }
  
body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
  
    min-height: 100%;
  
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background: #014f94;
    justify-content: space-between;
    padding: 25px;
    height: auto;
}

.logo {
    box-sizing: border-box;
    width: 206px;
    height: 60px;
}


.links {
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #b1bcd1;
    padding: 0;
}

    .links a:hover {
        color: white;
    }

.welcome {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    min-height: 100vh;
    min-width: 100vh;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
    
 



.welcome > .main {
    box-sizing: border-box;
    width: 520px;
    height: 400px;
}

    .welcome > .sneakpeek {
        box-sizing: border-box;
        width: 635px;
        height: 800px;
        
    }

    .main > h1 {
        font-size: 48px;
        color: #F9FAF8;
    }

    .main > p {
        font-size: 18px;
        color: #E5E7EB;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .newsletter {
        background:#014f94;
        border: 1px solid #3882F6;
        border-radius: 8px;
        padding: 8px 16px;
        color: white;
        font-size: 18px;
        font-weight: 800;
        transition: transform 200ms linear;
    }

    button:hover {
        transform: scale(1.08);
    }

.info {
    padding: 25px;
    background-image: url(./images/tardis.png);
    background-position-x: 100px;
    background-attachment: fixed;
    background-size: 100%;
    gap: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .info h1 {
        font-size: 36px;
        font-weight: 800;
    }

.doc {
    width: 167px;
    height: 245px;
    border-radius: 75px;
    box-shadow:
            0 0 10px #014f94,
            0 0 4px #0054a2,
            0 0 10px #00518f,
            0 0 22px #00518f,
            0 0 37px #00518f,
            0 0 27px #00518f
    
}
.timeline {
    display: flex;
    flex-wrap: wrap;
    gap: 39px;
    max-width: 1200px;
    flex: 1;
}

    .doctor > p {
        text-align: center;
        width: 165px;
        font-size: 15px;
    } 

    .fifteen.doctor {
        margin: 0 auto;
    }

        .fifteen.doctor > .doc {
            box-shadow:
            0 0 10px white,
            0 0 4px white,
            0 0 21px white,
            0 0 12px white,
            0 0 15px  white,
            0 0 32px #00518f
        }

.quote {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
}

    .quote > .phrase {
        text-align: justify;
        margin: 50px;
        width: 75%;
    }

    blockquote {
        color: rgb(88, 88, 88);
        font-size: 36px;
    }

    figcaption {
        margin-top: 25px;
        color: black;
        text-align: end;
        font-size: 20px;
        font-weight: 800;
    }

.end {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.click {
    border-radius: 10px;
    padding: 50px;
    padding-left: 135px;
    padding-right: 135px;
    width: 800px;
    background-color: #007ddc;
    color: white;
}
    .click > h4 {
        color: white;
        font-size: 18px;
        margin: 0;
    }

    .click > p {
        margin: 0;
    }

    .bottom-half {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        button.newsletter.bottom {
            padding-left: 30px;
            padding-right: 30px;
            background-color: #007ddc;
            border-color: white;
            margin-bottom: auto;
            
        }

    .footer {
        display: flex;
        justify-content: center;
        background: #00518f;
        color: white;
        font-size: 18px;
        padding: 25px;
        box-shadow: 2px 2px 10px rgba(0,0,0,.2);
    }

a {
    text-decoration: none;
    color: #E5E7EB;
    font-weight: 900;
}

ul {
    list-style-type: none;
}